HTML {
  height: 100%;
  --pad: 1em;
}
BODY {
  background: radial-gradient(
        circle,
        #b3cca2 0.75em,
        rgba(255, 255, 255, 0) 0.75em,
        rgba(255, 255, 255, 0) 1.5em,
        rgba(204, 195, 148, 0.7) 1.5em,
        rgba(204, 195, 148, 0.7) 1.8em,
        rgba(255, 255, 255, 0) 1.8em
      )
      0 0,
    radial-gradient(
        circle,
        #ccc394 0.75em,
        rgba(255, 255, 255, 0) 0.75em,
        rgba(255, 255, 255, 0) 1.5em,
        rgba(179, 204, 162, 0.7) 1.5em,
        rgba(179, 204, 162, 0.7) 1.8em,
        rgba(255, 255, 255, 0) 1.8em
      )
      3em 3em,
    radial-gradient(
        circle,
        rgba(179, 204, 162, 0.7) 0.375em,
        rgba(255, 255, 255, 0) 0.375em
      )
      3em 0,
    radial-gradient(
        circle,
        rgba(204, 195, 148, 0.7) 0.3em,
        rgba(255, 255, 255, 0) 0.3em
      )
      0 3em;
  background-size: 6em 6em;
  background-color: #f2dba5;
  background-repeat: repeat;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  margin: 0;
}

#summary {
  width: 650px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px solid rgb(121, 88, 28);
  border-bottom: 4px solid rgb(121, 88, 28);
  border-right: 4px solid rgb(121, 88, 28);
  border-left: 4px solid rgb(121, 88, 28);
  background-color: #ccc394;
  box-shadow: 37px 24px 9px 6px rgba(0, 0, 0, 0.33);
  border-radius: 10px;
  margin-top: 20px;
  line-height: calc(var(--pad) * 2.7);
}

.h1 {
  text-align: left;
  color: rgb(190, 134, 88);
  margin: 0;
}

.left {
  float: left;
  margin: 0 calc(var(--pad) * 0.5) calc(var(--pad) * 0.5) 0;
  border-radius: 9px 0 9px 0;
  height: 350px;
}
.bot {
  color: rgb(190, 134, 88);
  text-align: right;
  margin: 0;
  font-size: 40px;
}
.resume {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16pt;
}
.fat-font {
  font-size: 30pt;
  text-align: center;
  line-height: calc(var(--pad) * 2);
}
.fat {
  font-weight: 600;
}
.powered {
  font-size: 15px;
  color: rgb(22, 22, 22);
  margin-block-start: 0;
  margin-block-end: 0;
  align-self: flex-end;
}
.tag {
  color: rgb(190, 134, 88);
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
header,
footer {
  padding: calc(var(--pad) * 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(128, 69, 15, 0.9);
}
footer {
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
}
header {
  border-radius: 0 0 10px 10px;
}
.content {
  max-width: 1920px;
}
.CV {
  display: grid;
  grid-template-columns: 1fr;
}
.general-info > div {
  background-color: burlywood;
  padding: calc(var(--pad) * 1);
  height: auto;
  min-height: 250px;
  margin: calc(var(--pad) * 2);
  border-radius: 10px;
  border-top: 4px solid rgb(121, 88, 28);
  border-bottom: 4px solid rgb(121, 88, 28);
  border-right: 4px solid rgb(121, 88, 28);
  border-left: 4px solid rgb(121, 88, 28);
  box-shadow: 14px 9px 32px 8px rgba(0, 0, 0, 0.42);
  margin-top: calc(var(--pad) * 5);
  grid-gap: 3em;
  font-size: calc(var(--pad) * 1.2);
}
.general-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
